/* ROOT STYLES Start */
:root {
  --_primaryColor: #876af8;
  --_secondaryColor: #fec20d;
  --_alertColor: #ec4c73;
  --_successColor: #a3da5d;
  --_warningColor: #ff7a00;
  --_bgColor: #f2f2f3;
  --_blueishColor: #46a2ff;
  --_textColor: rgb(28, 28, 28);

  /* Box shadown */
  --_boxShadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  --_spreadShadow: 0 0 6px rgba(0, 0, 0, 0.2);

  /* BorderRadius */
  --_borderRs: 4px;
  --_borderRm: 8px;
  --_borderRl: 16px;
}
body {
  background: var(--_bgColor);
}

/* Fonts */
.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-heading {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Root Styles end */

/* Logo Styles Angelo start */
#Layer_2 {
  background-color: var(--_successColor);
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
}
/* Logo Styles end */
/* Login Styles Angelo start */
.DaddyBox {
  height: 100vh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--_bgColor);
}
.DaddyBox .Login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 20%;
  min-width: 250px;
  /* max-width: 80%; */
  border: solid rgb(223, 223, 223) 1px;
  border-radius: var(--_borderRm);
  padding: 0.3rem;
}
.DaddyBox .Login-form h1 {
  font-size: 42px;
  letter-spacing: 2px;
  margin: 0;
}
.DaddyBox .Login-form h2 {
  font-size: 28px;
  margin: 0;
}
.DaddyBox .Login-form input {
  padding: 0.4rem;
  width: 70%;
  border: solid rgb(223, 223, 223) 1px;
}
.DaddyBox .Login-form input::placeholder {
  opacity: 0.7;
}
.DaddyBox .Login-form button {
  color: rgb(232, 232, 232);
  background-color: var(--_primaryColor);
  border: none;
  border-radius: var(--_borderRs);
  padding: 0.6rem;
  font-size: 1rem;
}
.DaddyBox .Login-form button:hover {
  background-color: #967cff;
  color: rgb(220, 220, 220);
  cursor: pointer;
  scale: 1.02;
}
.DaddyBox .Login-form button:active {
  background-color: #a892ff;
  color: rgb(220, 220, 220);
  scale: 0.97;
}
.DaddyBox .Login-form #LoginBtn {
  background-color: black;
}
.DaddyBox .Login-form #LoginBtn:hover {
  background-color: rgb(44, 44, 44);
  scale: 1.02;
}
.DaddyBox .Login-form #LoginBtn:active {
  background-color: rgb(67, 67, 67);
  scale: 0.97;
}
/* Login Styles end */
/* CreateAccount Styles start */
.DaddyBox .CreateAccount-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* height: 50vh; */
  min-width: 250px;
  /* width: 20%; */

  border: solid rgb(223, 223, 223) 1px;
  border-radius: var(--_borderRm);
  /* padding: 0.3rem; */
  /* display: none; */
}
.DaddyBox .CreateAccount-form h2 {
  font-size: 28px;
  margin: 0;
}
.DaddyBox .CreateAccount-form input {
  padding: 0.4rem;
  width: 70%;
  border: solid rgb(223, 223, 223) 1px;
}
.DaddyBox .CreateAccount-form input::placeholder {
  opacity: 0.7;
}
.DaddyBox .CreateAccount-form button {
  color: rgb(232, 232, 232);
  background-color: var(--_primaryColor);
  border: none;
  border-radius: var(--_borderRs);
  padding: 0.6rem;
  font-size: 1rem;
}
.DaddyBox .CreateAccount-form button:hover {
  background-color: #967cff;
  color: rgb(220, 220, 220);
  cursor: pointer;
  scale: 1.02;
}
.DaddyBox .CreateAccount-form button:active {
  background-color: #a892ff;
  color: rgb(220, 220, 220);
  scale: 0.97;
}
.DaddyBox .CreateAccount-form #alredyaccount {
  background: none;
  color: black;
  text-decoration: underline;
}

/* CreateAccount Styles end */

/* Home page styling start */

/* Navbar Simon/frans start */
.navContainer {
  width: 100%;
  min-height: 100px;
  background: white;
  box-shadow: var(--_boxShadow);
  display: flex;
  align-items: center;
  padding-inline: 48px;
  justify-content: space-between;
}

.navLogo {
  width: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: ceter;
  padding: 8px 16px;
  border-radius: var(--_borderRm);
  border: 0px transparent solid;
  transition: all 0.2s ease-in-out;
}

.navLogo:hover {
  border-bottom: 10px var(--_primaryColor) solid;
}

.linkList {
  list-style: none;
  display: flex;
  gap: 16px;
}
.linkList a {
  text-decoration: none;
  color: var(--_textColor);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.linkList i {
  margin-right: 8px;
  font-size: 24px;
}

.navlink {
  color: var(--_textColor);
  transition: all 0.8s ease-in-out;
}

.navLink:hover i {
  color: var(--_primaryColor);
}
/* Navbar Simon/frans end */

/* main styling start Simon/Frans */

/* Tab Styling start Frans/simon */
.gridContainer {
  display: grid;
  grid-template-columns: 150px 1fr;
  height: calc(100vh - 100px);
}

.tabContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4px;
  justify-items: flex-start;
}

.tab {
  color: var(--_textColor);
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 90%;
  height: 150px;
  background: var(--_primaryColor);
  border-radius: 0 40% 40% 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 4px;
  align-items: center;
  gap: 12px;
  box-shadow: var(--_boxShadow);
  transition: all 0.3s ease-in-out;
}

.tab:first-of-type {
  background: var(--_secondaryColor);
}
.tab:nth-of-type(2) {
  background: var(--_alertColor);
}
.tab:nth-of-type(4) {
  background: var(--_warningColor);
}
.tab:nth-of-type(5) {
  background: var(--_successColor);
}
.tab:nth-of-type(6) {
  background: var(--_blueishColor);
}

.tab:hover {
  width: 100%;
  border-radius: 0 10% 10% 0;
}

.tab i {
  font-size: 24px;
}

/* Tab Styling end Frans/simon */

/* Main container styling start Frans Simon */

.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  border: solid black 1px;
  padding: 32px;
}
.homeCardContainer {
    min-height: 33%;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.homeCard {
    height: 100%;
    width: 100%;
    background: var(--_primaryColor);
}
.divider {
    width: 100%;
    background: var(--_textColor);
    opacity: 0.6;
    height: 1px;
}


/* Main container styling end Frans Simon */

/* main styling end Simon/Frans */
/* Homepage stylijg end */

/* Button Styling */
.btn {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    outline: none;
    border-radius: var(--_borderRm);
    padding: 16px;   
}

.primary {
    background: var(--_primaryColor);
    margin-inline:  10px;
}

.logOutBtn {
    margin-top: 150px;  
}

.logOutBtn:hover {
    cursor: pointer;
    box-shadow: var(--_spreadShadow);
}
/* Button Styling */